/* Header */
#masthead {
    border-bottom: solid 1px #8214ff;
    box-shadow: 0px 1px 5px 0px #000000c7;
    background-color: rgb(29, 29, 27);
}


.hero {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

.hero .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

.section-blog-recents {
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: rgb(29, 29, 27); */
}

.section-blog-recents .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

.section-blog-recents .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

/* Dark Theme Toggle */
.darktheme-toggle-container::before {
    content: "\f186";
    left: .3em;
    color: #f1c40f;
}

.darktheme-toggle-container::after {
    content: "\f185";
    right: 0.3em;
    color: #f39c12;
}

.darktheme-toggle-container::before,
.darktheme-toggle-container::after {
    font-family: "Font Awesome 5 Free";
    font-size: 1.1rem;
    position: absolute;
    opacity: 1;
    top: 10px;
    line-height: 1;z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.darktheme-toggle-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.darktheme-toggle-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The darktheme-selector */
.darktheme-selector {
    position: absolute !important;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444;
    -webkit-transition: .4s;
    transition: .4s;
}

.darktheme-selector:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
    z-index: 2;
}

input:checked+.darktheme-selector {
    background-color: #333;
}

input:focus+.darktheme-selector {
    box-shadow: 0 0 1px #333;
}

input:checked+.darktheme-selector:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

body,
body .section,
body .box {
    background: #f2f2f2 !important;
    transition: all .2s ease;
}

body.darktheme,
body.darktheme section,
body.darktheme .box {
    background: rgb(29, 29, 27) !important;
    transition: all .2s ease;
}

body,
body p,
body span,
body strong,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: rgb(29, 29, 27) !important;
}

body.darktheme,
body.darktheme p,
body.darktheme span,
body.darktheme strong,
body.darktheme h1,
body.darktheme h2,
body.darktheme h3,
body.darktheme h4,
body.darktheme h5,
body.darktheme h6 {
    color: #f2f2f2 !important;
}

#wpadminbar * {
    color: #c4c5c7 !important;
} 


/* TESTE */
.search-hero-form .field .control .input {
    height: 60px;
    padding-left: 66px;
}

.bg-polka{
    background-color: #f2f2f2;
    opacity: 1;
    background-image: radial-gradient(#b700ff 0.9500000000000001px, #f2f2f2 0.9500000000000001px);
    background-size: 19px 19px;
}

.darktheme .bg-polka{
    background-color: rgb(29, 29, 27);
    opacity: 1;
    background-image: radial-gradient(#b700ff 0.9500000000000001px, rgb(29, 29, 27) 0.9500000000000001px);
    background-size: 19px 19px;
}
