/* Header */
#masthead {
    border-bottom: solid 1px #8214ff;
    box-shadow: 0px 1px 5px 0px #000000c7;
    background-color: rgb(29, 29, 27);
}


.hero {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

.hero .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

.section-blog-recents {
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: rgb(29, 29, 27); */
}

.section-blog-recents .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

.section-blog-recents .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}
/*LOGO*/
#site-logo{
    content: url('../img/logotipo.png');
}
.is-dark #site-logo{
    content: url('../img/logotipo-all-white.png');
}
/*Menu mobile*/
.container{
    padding-left: 0 ;
    padding-right: 0;
}
/* Dark Theme Toggle */
/* .is-dark-toggle-container::before {
    content: "\f186";
    left: .3em;
    color: #f1c40f;
}

.is-dark-toggle-container::after {
    content: "\f185";
    right: 0.3em;
    color: #f39c12;
}

.is-dark-toggle-container::before,
.is-dark-toggle-container::after {
    font-family: "Font Awesome 5 Free";
    font-size: 1.1rem;
    position: absolute;
    opacity: 1;
    top: 10px;
    line-height: 1;z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.is-dark-toggle-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
/*.is-dark-toggle-container input {
    opacity: 0;
    width: 0;
    height: 0;
} */

/* The is-dark-selector */
/* .is-dark-selector {
    position: absolute !important;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444;
    -webkit-transition: .4s;
    transition: .4s;
}

.is-dark-selector:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
    z-index: 2;
}

input:checked+.is-dark-selector {
    background-color: #333;
}

input:focus+.is-dark-selector {
    box-shadow: 0 0 1px #333;
} */

/* input:checked+.is-dark-selector:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */

/* body,
body .section,
body .box {
    background: #f2f2f2 !important;
    transition: all .2s ease;
} */

/* body.is-dark,
body.is-dark section,
body.is-dark .box {
    background: rgb(29, 29, 27) !important;
    transition: all .2s ease;
} */

/* body,
body p,
body span,
body strong,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: #283252 !important;
}

body.is-dark,
body.is-dark p,
body.is-dark span,
body.is-dark strong,
body.is-dark h1,
body.is-dark h2,
body.is-dark h3,
body.is-dark h4,
body.is-dark h5,
body.is-dark h6 {
    color: #f2f2f2 !important;
}*/

#wpadminbar * {
    color: #c4c5c7 !important;
} 


/* TESTE */
.search-hero-form .field .control .input {
    height: 60px;
    padding-left: 66px;
}

.bg-polka{
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#b700ff 0.9500000000000001px, #ffffff 0.9500000000000001px);
   transition: all .2s ease;
    background-size: 19px 19px;
}

.is-dark .bg-polka{
    background-color: #0f0f1f;
    opacity: 1;
    background-image: radial-gradient(#b700ff 0.9500000000000001px, #0f0f1f 0.9500000000000001px);
   transition: all .2s ease;
    background-size: 19px 19px;
}
